@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "styles/variables";
@import 'styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  font-size: $font-size-base;
  color: $text-primary;
  background-color: $white;
}
